/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-c130jcgyzg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-c130jcgyzg] {
  color: #0077cc;
}

.btn-primary[b-c130jcgyzg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-c130jcgyzg], .nav-pills .show > .nav-link[b-c130jcgyzg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-c130jcgyzg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-c130jcgyzg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-c130jcgyzg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-c130jcgyzg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-c130jcgyzg] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Set the background color as needed */
    border-top: 1px solid #ccc; /* Add a border to separate footer from the content */
    text-align: center; /* Center align the content in the footer */
    padding: 10px; /* Add padding as needed */
}
