@page
@model ClinicalPharmaSystem.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to right, #6E45E2, #FF5733);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .registration-box {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        h2 {
            text-align: center;
            background: linear-gradient(to right, #FF5733, #6E45E2);
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>
</head>
<body>
    <div class="registration-box">
        <h2>Registration</h2>
        <form method="post">
            <div class="form-group">
                <label for="UserName">User Name:</label>
                <input type="text" class="form-control" id="UserName" name="UserName" required>
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" required>
            </div>
            <div class="form-group">
                <label for="ClinicalId">Clinical Id:</label>
                <input type="text" class="form-control" id="ClinicalId" name="ClinicalId" required>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>  <a href="/Home/Login" class="header-link"><i class="fas fa-sign-out-alt"></i> Already Registered ? Login here</a>
        </form><br /><br />
        @if (TempData.ContainsKey("RegistrationSuccessMessage"))
        {
            <div id="registration-success-message" class="alert alert-success">
                @TempData["RegistrationSuccessMessage"]
            </div>
        }
    </div>
</body>
</html>
